<div class="sfondo">
    <table>
        <thead>
            <tr>
                <th>meme number</th>
                <th>meme name</th>
                <th>meme img</th>
                <th>meme description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>{{Nome[0]}}</th>
                <th><img src="https://media.istockphoto.com/id/538665020/it/foto/internet-meme-why-you-no-illustrazione-3d-rage-face.jpg?s=612x612&w=0&k=20&c=fCI-pRaGPvXbXOSaH7IvBqYrQIjlbiUFV34-WAKKH6s="></th>
                <th>{{Descrizione[0]}}</th>
                <th><third-component></third-component></th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{Nome[1]}}</th>
                <th><img class="foto2" src="https://wallpapers.com/images/hd/meme-faces-funny-pictures-1ws050k9loowv33a.jpg"></th>
                <th>{{Descrizione[1]}}</th>
                <th><fourth-component></fourth-component></th>
            </tr>
        </tbody>
        
    </table>
</div>